<section class="joinus-wrap py-5 text-center">
    <div class="container-xxl">
        <h1 class="fw-bold display-3 mb-3">Become <span class="text-vol">a volunteer</span> with VConnect</h1>
        <p class="lead mb-4">
            At VConnect, our volunteers come from all walks of life, bringing unique perspectives and skills to our mission.
            We value diversity, passion, and commitment. If you’re ready to make an impact and contribute your talents to build a better nation,
            we’d love to have you on board.
        </p>
        <a href="@Url.Action("Apply", "Account")" class="btn btn-success btn-lg rounded-pill px-4 py-2 fw-bold">Join Us</a>
    </div>
</section>
